@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import './_base.css';
@import 'components/header.css';
@import 'components/tile.css';
@import 'components/footer.css';

@media only screen and (max-width: 1000px){
	.header {
		padding: 60px 80px;
	}

	.header__bottom-container {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.bottom-container__wrap {
		padding: 40px 0px 0px 0px;
		margin-bottom: 40px;
	}

	.footer__contact {
		flex-direction: column;
		justify-content: unset;
	}

	.contact__item:not(:last-child) {
		width: 100%;
		margin-bottom: 40px;
	}

	.tile--wrapper {
		margin: 7vh 80px 30vh 80px;
	}

	.tile {
		flex-direction: column-reverse;
	}

	.tile > *  {
		width: 100%;
		padding: 20px;
	}

	.tile > *:last-child {
		margin-bottom: 20px;
	}

	.tile__text {
		width: 100%;
		margin-top: 20px;
	}

	.tile__header {
		width: 100%;
	}
	.footer {
		padding-left: 80px;
		padding-right: 80px;
	}
	.footer__aside {
		top: -15%;
		padding: 30px 40px;
	}
}

@media only screen and (max-width: 800px){
	.header {
		padding: 60px 40px;
	}

	.tile--wrapper {
		margin: 7vh 40px 30vh 40px;
	}

	.footer {
		padding-left: 40px;
		padding-right: 40px;
	}

	.footer__aside {
		top: -15%;
		padding: 30px 40px;
		white-space: normal;
	}
}

@media only screen and (max-width: 600px){
	.header {
		padding: 40px 20px;
	}
	.tile--wrapper {
		margin: 7vh 20px 30vh 20px;
	}

	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer__aside {
		top: -10%;
		padding: 20px;
	}
}