.footer {
	height: 560px;
	background-color: #00252E;
	color: white;
	padding: 0px 120px;
	position: relative;
}

.footer__aside {
	padding: 30px 80px ;
	white-space: nowrap;
	font-family: "Open Sans";
	background-color: white;
	text-align: center;
	color: var(--dark-cyan);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position: absolute;
	left: 50%;
	top: -20%;
	transform: translateX(-50%);
}

.footer__cta{
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background-color:#eb4da1;
	border-radius:42px;
	border:1px solid #ff00bb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:21px 70px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
	transition: 0.4s;
}

.footer__cta:hover {
	opacity: 0.5;
}

.footer__logo {
	margin-top: 160px;
	margin-bottom: 20px;
}

.footer__main {
	display: flex;
	justify-content: space-between;
	border: 1px solid green;
	font-family: var(--open-sans);
	font-weight: 300;
	font-size: 0.9rem;
}

.footer__address {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
}

.footer__icon {
	float: left;
}

.footer__contact {
	font-style: normal
}

