.footer {
  background-color: #00252e;
  color: white;
  padding: 160px 120px 120px 120px;
  position: relative;
}

.footer__main {
  height: 100%;
  font-family: var(--open-sans);
  font-weight: 300;
}

.footer__logo {
  height: 40px;
  margin-bottom: 40px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact__item:not(:last-child) {
  margin-right: 5vw;
}

.contact__address {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 30px auto;
}

.contact__icon {
  margin-top: 5px;
  display: inline-block;
}

.contact__link {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  margin-bottom: 15px;
}

.contact__learn-more {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 40px;
  row-gap: 20px;
}

.social__icon {
  text-decoration: none;
  color: inherit;
}

.socials__icon img {
  box-sizing: content-box;
  width: 20px;
  padding: 5px;
}
