.header {
    background-image:url('/design/images/bg-hero-desktop.svg'); 
    padding: 60px 120px;
    background-color: var(--pale-cyan);
}

.header__top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.header__logo {
    height: 24px;
}

.header__button {
	background-color: white;
	border: 2px solid white;
	border-radius: 50px;
	cursor:pointer;
	color:var(--dark-cyan);
	font-family: var(--open-sans);
	font-size: 1rem;
	padding: 10px 30px;
	text-decoration:none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.header__bottom-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bottom-container__wrap {
    height: 100%;
    padding: 40px 80px 0px 0px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--poppins);
    font-size: 2rem;
    margin-bottom: 30px;
}

p {
    font-family: var(—-open-sans);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}
.cta{
    white-space: nowrap;
	display: block;
	margin-left: auto;
    margin-right: auto;
	background-color:var(--pink);
	border: 2px solid var(--pink);
	border-radius: 50px;
	cursor:pointer;
	color:#ffffff;
	font-family: var(--open-sans);
	font-size: 1rem;
	padding: 15px 60px;
	text-decoration:none;
	box-shadow: 0 0 5px rgba(94, 46, 81, 0.5);
	transition: 0.5s;
}

.header__cta {
    margin-top: 30px;
    margin-left: 0;
}

.header__hero {
    width: 100%;
    height: auto;
}