.tile--wrapper {
  display: flex;
  flex-flow: wrap column;
  margin: 7vh 3vw 10vh 3vw;
  gap: 3vh;
}
.tile {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  border: 1px transparent var(--gray-blue);
  border-radius: 16.66px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 3vh 3vw 3vh 2vw;
}

.tile--reverse {
  display: flex;
  flex-flow: wrap row-reverse;
  padding-left: 7vw;
}

.tile__text {
  display: flex;
  flex-direction: column;
  width: 47%;
  justify-content: center;
  padding-left: 7vw;
}

.tile__img {
  width: 33%;
  height: auto;
}

.tile__header {
  font-family: var(—poppins);
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  padding-right: 7vh;
  padding-top: 2vh;
  min-width: ;
}

.tile__p {
  font-family: var(—open-sans);
  font-weight: 300;

  font-size: 1.2rem;
}
